@model deprosaWeb.Model.ViewModel.HighlightViewModel

@{
    ViewBag.Title = @Model.CategoryViewModel.SelectedMainCategoryName;
    Layout = "../Shared/_Layout.cshtml";}

@foreach (var menu in Model.CategoryViewModel.MainCategories)
{
    <li>@Html.ActionLink(menu.Name, "Index", "SaleListing", new { selected = menu.ID }, null)</li>
}
<div>
    @if (Model.CategoryViewModel.SelectedMainCategoryId > 0)
    {
        <div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DisplayNameFor(e => e.CategoryViewModel.CurrentSubCategories)
                    @Html.DropDownListFor(e => e.CategoryViewModel.SelectedSubCategoryId, Model.CategoryViewModel.SubCategoriesSelectList, "Vælg", new { @onchange = "SelectSubCategory(this.value)" })
                </div>
            </div>
        </div>

    }
    @if (Model.CategoryViewModel.SelectedSubCategoryId > 0)
    {
        <div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DisplayNameFor(e => e.CategoryViewModel.CurrentProductTypes)
                    @Html.DropDownListFor(e => e.CategoryViewModel.SelectedProductTypeId, Model.CategoryViewModel.ProductTypesSelectList, "Vælg",
                        new { @onchange = "SelectProductType(this.value)" })
                </div>
            </div>
        </div>
    }
    <a onclick="Search">
        <div id="searchbutton" class="nav">
           Søg
        </div>
    </a>
</div>

<div class="body-content">
    <div>
        @if (Model.HighligthtedSaleListings.Any())
        {
            <h4>Populærer annoncer for @Model.CategoryViewModel.SelectedMainCategoryName</h4>
            foreach (var
                item in
                Model.HighligthtedSaleListings)
            {
                <div >
                    <text> @item.Title </text>
                    <text> @item.Price ,- </text>
                    <text> @item.ProductType.Name</text >
                </div>
            }
        }
    </div>
</div>

<style type="text/css">
    #searchbutton { position: relative; cursor: pointer }
.hyperspan {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}

</style>
<script>
    function SelectSubCategory(val) {
        window.location.href = "/Salelisting/SetSelectedSubCategory?categoryid=" + val;
    }
    function SelectProductType(val) {
        window.location.href = "/Salelisting/SetSelectedProductType?producttypeid=" + val;
    }

    function Search() {
        window.location.href = "/Salelisting/Salelistings";

    }
</script>