@model deprosaWeb.Model.ViewModel.HighlightViewModel

@{
    ViewBag.Title = @Model.CategoryViewModel.SelectedMainCategoryName;
    Layout = "../Shared/_Layout.cshtml";}

@foreach (var menu in Model.CategoryViewModel.MainCategories)
{
    <li>@Html.ActionLink(menu.Name, "Index", "SaleListing", new { selected = menu.ID }, null)</li>
}
<div>
    @if (Model.CategoryViewModel.SelectedMainCategoryId > 0)
    {
        <div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DisplayNameFor(e => e.CategoryViewModel.CurrentSubCategories)
                    @Html.DropDownListFor(e => e.CategoryViewModel.SelectedSubCategoryId, Model.CategoryViewModel.SubCategoriesSelectList, "Vælg", new { @onchange = "SelectSubCategory(this.value)" })
                </div>
            </div>
        </div>

    }
    @if (Model.CategoryViewModel.SelectedSubCategoryId > 0)
    {
        <div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DisplayNameFor(e => e.CategoryViewModel.CurrentProductTypes)
                    @Html.DropDownListFor(e => e.CategoryViewModel.SelectedProductTypeId, Model.CategoryViewModel.ProductTypesSelectList, "Vælg",
                        new { @onchange = "SelectProductType(this.value)" })
                </div>
            </div>
        </div>
        <div id="button-wrap-inner">
            <a class="btn" href="/SaleListing/Salelistings">Søg</a>
        </div>
    }
</div>

<div class="body-content">
    <div>
        @if (Model.HighligthtedSaleListings.Any())
        {
            <h4>Populærer annoncer for @Model.CategoryViewModel.SelectedMainCategoryName</h4>
            foreach (var
                item in
                Model.HighligthtedSaleListings)
            {
                <div >
                    <text> @item.Title </text>
                    <text> @item.Price ,- </text>
                    <text> @item.ProductType.Name</text >
                </div>
            }
        }
    </div>
</div>

<style type="text/css">
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

</style>
<script>
    function SelectSubCategory(val) {
        window.location.href = "/Salelisting/SetSelectedSubCategory?categoryid=" + val;
    }
    function SelectProductType(val) {
        window.location.href = "/Salelisting/SetSelectedProductType?producttypeid=" + val;
    }
</script>