@using PagedList.Mvc
@model deprosa.Web.Data.Model.ViewModel.SaleListingListViewModel

@{
    ViewBag.Title = "Salelistings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var menu in Model.CategoryViewModel.CurrentSubCategories)
{
    <li>@Html.ActionLink(menu.Name, "Index", "SaleListing", new { selected = menu.ID, issub = true}, null)</li>
}
<h2>Annoncer</h2>

<table>
    <tr>
        <th>
            @Html.ActionLink("Titel", "Index", new { sort = ViewBag.TitleSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Dato", "Index", new { sort = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Pris", "Index", new { sort = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>
    @foreach (var item in Model.Salelistings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created, "DateTime")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Vælg", "Details",new {id = item.ID})
            </td>
        </tr>
    }
    <br />

</table>

@Html.PagedListPager(Model.Salelistings, page => Url.Action("Salelistings", new { page, sort = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
Side @(Model.Salelistings.PageCount < Model.Salelistings.PageNumber ? 0 : Model.Salelistings.PageNumber) af @Model.Salelistings.PageCount