@model deprosa.Web.Model.SaleListingCreateViewModel
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.SaleListing.Model)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.TextBoxFor(e => e.SaleListing.Model)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.SaleListing.Year)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.TextBoxFor(e => e.SaleListing.Year)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.SaleListing.Kilometers)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.TextBoxFor(e => e.SaleListing.Kilometers)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.SaleListing.FuelType)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.TextBoxFor(e => e.SaleListing.FuelType)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.SaleListing.KmPrLiter)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.TextBoxFor(e => e.SaleListing.KmPrLiter)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.SaleListing.Color)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.TextBoxFor(e => e.SaleListing.Color)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.SaleListing.LastService)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.TextBoxFor(e => e.SaleListing.LastService)
    </div>
</div>

