@model deprosa.ViewModel.SaleListingDTO
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.Length)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayFor(e => e.Length)
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.Height)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayFor(e => e.Height)
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.Width)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayFor(e => e.Width)
    </div>
</div>