@using deprosa.Common
@model deprosa.ViewModel.SaleListingDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>@Model.Title</h2>
    <div>
        <p>Detaljer:</p>
        @if (Model.ProductType.Types.HasFlag(eSalelistingTypes.Dimensions))
        {
            @Html.Partial("~/Views/Shared/Partial/Display/_dimension.cshtml", Model)
        }
        @if (Model.ProductType.Types.HasFlag(eSalelistingTypes.RAM))
        {
            @Html.Partial("~/Views/Shared/Partial/Display/_ram.cshtml", Model)
        }
        @if (Model.ProductType.Types.HasFlag(eSalelistingTypes.Harddisk))
        {
            @Html.Partial("~/Views/Shared/Partial/Display/_harddisk.cshtml", Model)
        }
        @if (Model.ProductType.Types.HasFlag(eSalelistingTypes.Length))
        {
            @Html.Partial("~/Views/Shared/Partial/Display/_length.cshtml", Model)
        }
        @if (Model.ProductType.Types.HasFlag(eSalelistingTypes.Processor))
        {
            @Html.Partial("~/Views/Shared/Partial/Display/_processor.cshtml", Model)
        }
        @if (Model.ProductType.Types.HasFlag(eSalelistingTypes.Screen))
        {
            @Html.Partial("~/Views/Shared/Partial/Display/_screen.cshtml", Model)
        }
        @if (Model.ProductType.Types.HasFlag(eSalelistingTypes.Thickness))
        {
            @Html.Partial("~/Views/Shared/Partial/Display/_thickness.cshtml", Model)
        }
        @if (Model.ProductType.Types.HasFlag(eSalelistingTypes.Weight))
        {
            @Html.Partial("~/Views/Shared/Partial/Display/_weight.cshtml", Model)
            if (Model.ProductType.Types.HasFlag(eSalelistingTypes.PrivateCar))
            {
                @Html.Partial("~/Views/Shared/Partial/Display/_privatecar.cshtml", Model)
            }
            if (Model.ProductType.Types.HasFlag(eSalelistingTypes.CompanyCar))
            {
                @Html.Partial("~/Views/Shared/Partial/Display/_companycar.cshtml", Model)
            }
        }
    </div>
    
    <div>
        <p>Beskrivelse</p>
        @Html.DisplayFor(e=>e.Description)
    </div>
</div>