@model deprosa.ViewModel.AccountCreateDTO
@{
    ViewData["Title"] = "Opret ny bruger";
}

<h2>@ViewData["Title"].</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.DisplayNameFor(e => e.FirstName)
    @Html.TextBoxFor(e => e.FirstName, new { Class = "form-control" })

    @Html.DisplayNameFor(e => e.LastName)
    @Html.TextBoxFor(e => e.LastName, new { Class = "form-control" })

    @Html.DisplayNameFor(e => e.Email)
    @Html.TextBoxFor(e => e.Email, new { Class = "form-control" })

    @Html.DisplayNameFor(e => e.Password)
    @Html.PasswordFor(e => e.Password, new { Class = "form-control" })
        
    @Html.DisplayNameFor(e => e.ConfirmPassword)
    @Html.PasswordFor(e => e.ConfirmPassword, new { Class = "form-control" })

    <input type="submit" title="" />


}

@*@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}*@
