@{
    Layout = "_ManagementLayout.cshtml";
}
@model deprosa.ViewModel.AccountUpdateDTO

<div class="row">
@using (Ajax.BeginForm("UpdateAccountInformation", "Management",
                            new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "row", }))
{
    <div class="col-md-8">
        <section>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DisplayNameFor(e => e.FirstName)
                    @Html.TextBoxFor(e => e.FirstName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DisplayNameFor(e => e.LastName)
                    @Html.TextBoxFor(e => e.LastName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DisplayNameFor(e => e.Gender)
                    @*@Html.DropDownListFor(m => m.Gender, Html.GetEnumSelectList<bzale.Common.eGender>())*@
                    @Html.EnumDropDownListFor(e => e.Gender)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DisplayNameFor(e => e.Email)
                    @Html.TextBoxFor(e => e.Email)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DisplayNameFor(e => e.Phone)
                    @Html.TextBoxFor(e => e.Phone)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DisplayNameFor(e => e.CountryCode)
                    @Html.EnumDropDownListFor(e => e.CountryCode)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DisplayNameFor(e => e.PostalCode)
                    @Html.TextBoxFor(e => e.PostalCode)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DisplayNameFor(e => e.Address)
                    @Html.TextBoxFor(e => e.Address)
                </div>
            </div>
        </section>
    </div>
    <button type="submit" class="btn btn-default">Opdater</button>
}
</div>
