@{
    Layout = "_ManagementLayout.cshtml";
}

@model deprosa.ViewModel.CompanyDTO
@using deprosa.Web.Model;
<div class="row" id="updatethis">
    <div class="col-md-8">
        <section>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (!CurrentUser.IsCompanyValidated)
                    {
                        using (Ajax.BeginForm("ValidateVat", "Management", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "spinner", UpdateTargetId = "updatethis", }))
                        {
                            <div class="form-group">
                                <div data- class="col-md-offset-2 col-md-10">
                                    <h1>Indtast CVR nummer for at blive valideret.</h1>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.DisplayNameFor(e => e.CountryCode)
                                    @Html.EnumDropDownListFor(e => e.CountryCode)
                                    @Html.DisplayNameFor(e => e.VAT)
                                    @Html.TextBoxFor(e => e.VAT)
                                </div>
                            </div>

                            <div data-bind="" class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default">Søg</button>
                                </div>
                            </div>
                        }
                    }
                    @if (ViewBag.IsValidated!= null && ViewBag.IsValidated)
                    {
                        using (Ajax.BeginForm("AddOrUpdateCompany", "Management", 
                            new AjaxOptions { HttpMethod = "POST", LoadingElementId = "spinner", UpdateTargetId = "updatethis", }))
                        {
                        <img id="spinner" src="http://cdn.nirmaltv.com/images/generatorphp-thumb.gif" style="display: none;">
                        <div id="companyinfo">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">

                                    @Html.DisplayNameFor(e => e.VAT)
                                    @Html.TextBoxFor(e => e.VAT, new { @readonly = true })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">

                                    @Html.DisplayNameFor(e => e.Name)
                                    @Html.TextBoxFor(e => e.Name, new { @readonly = true })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.DisplayNameFor(e => e.Email)
                                    @Html.TextBoxFor(e => e.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.DisplayNameFor(e => e.Phone)
                                    @Html.TextBoxFor(e => e.Phone)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.DisplayNameFor(e => e.City)
                                    @Html.TextBoxFor(e => e.City, new { @readonly = true })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.DisplayNameFor(e => e.PostalCode)
                                    @Html.TextBoxFor(e => e.PostalCode, new { @readonly = true })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.DisplayNameFor(e => e.Address)
                                    @Html.TextBoxFor(e => e.Address, new { @readonly = true })
                                </div>
                            </div>
                            
                            <div data-bind="" class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @if (CurrentUser.IsCompanyValidated)
                                    {
                                    <button type="submit" class="btn btn-default">Opdater</button>
                                    }
                                    @if (!CurrentUser.IsCompanyValidated)
                                    {
                                        <button type="submit" class="btn btn-default">Gem</button>
                                    }
                                </div>
                            </div>
                        </div>
                        }
                    }
                </div>
            </div>
        </section>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
