@{Layout= "../Shared/_Layout.cshtml"; }
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
@using bzale.Web.Model;

    <div id="accountmanagerMenu">
        <ul class="vert-one">
            @Html.ActionLink("Mine Oplysninger", "AccountManagement", "Management")
            @Html.ActionLink("Virksomhedens Oplysninger", "CompanyManagement", "Management")
            @if (!string.IsNullOrWhiteSpace(CurrentUser.VAT))
            {
                @Html.ActionLink("Mine annoncer","CompanySaleListings","Management")
                @Html.ActionLink("Gemte annoncer", "SavedSaleListings", "Management")
            }
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

