@model deprosa.ViewModel.SaleListingDTO
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.Model)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayFor(e => e.Model)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.Year)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayFor(e => e.Year)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.Kilometers)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayFor(e => e.Kilometers)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.FuelType)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayFor(e => e.FuelType)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.KmPrLiter)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayFor(e => e.KmPrLiter)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.Color)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayFor(e => e.Color)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.LastService)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayFor(e => e.LastService)
    </div>
</div>

